body{
    background-color: black;
    background-image: url(/assets/bg.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.main{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 2px solid white;
    margin: auto;
    position: absolute;
    text-align: center;
}

p{
    color:white;
    font-size: 15px;
}

a{
    color:white;
    font-size: 15px;
}