body{
    background-image: url(/assets/bg.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

div{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 2px solid white;
    margin: 0;
}

p{
    color:white;
    font-size: 15px;
}
